$bodyBackgroundPrimary: var(--cstm-body-background-primary);
$bodyBackgroundSecondary: var(--cstm-body-background-secondary);
$bodyBackgroundTertiary: var(--cstm-body-background-tertiary);
$bodyBackgroundNeutral: var(--cstm-body-background-neutral);
$bodyBackgroundAccent: var(--cstm-body-background-accent);
$bodyBackgroundPrimaryInverted: var(--cstm-body-background-primary-inverted);
$bodyBackgroundSecondaryInverted: var(
  --cstm-body-background-secondary-inverted
);
$bodyBackgroundTertiaryInverted: var(--cstm-body-background-tertiary-inverted);
$bodyBackgroundNeutralInverted: var(--cstm-body-background-neutral-inverted);
$bodyBackgroundAccentInverted: var(--cstm-body-background-accent-inverted);

$bodyColorPrimary: var(--cstm-body-color-primary);
$bodyColorSecondary: var(--cstm-body-color-secondary);
$bodyColorTertiary: var(--cstm-body-color-tertiary);
$bodyColorNeutral: var(--cstm-body-color-neutral);
$bodyColorAccent: var(--cstm-body-color-accent);
$bodyColorPrimaryInverted: var(--cstm-body-color-primary-inverted);
$bodyColorSecondaryInverted: var(--cstm-body-color-secondary-inverted);
$bodyColorTertiaryInverted: var(--cstm-body-color-tertiary-inverted);
$bodyColorNeutralInverted: var(--cstm-body-color-neutral-inverted);
$bodyColorAccentInverted: var(--cstm-body-color-accent-inverted);

$bodyBorderColorPrimary: var(--cstm-body-border-color-primary);
$bodyBorderColorSecondary: var(--cstm-body-border-color-secondary);
$bodyBorderColorTertiary: var(--cstm-body-border-color-tertiary);
$bodyBorderColorPrimaryInverted: var(--cstm-body-border-color-primary-inverted);

$bodyFontPrimary: var(--cstm-body-font-family-primary);

$fontSize: var(--cstm-font-size);
$lineHeight: var(--cstm-line-height);
